<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Payment Api</title>
</head>
<body>
    <h3>Welcome to Home Page for payment</h3>
    <form action="payment" method="POST">
        <script
            src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key={{key}}
            data-amount="2500"
            data-name="Monish Harwani"
            data-description="Buy This Puma T-Shirt and Levis baggy tshirt"
            data-locale="auto">
        </script>
    </form>
</body>
</html>